---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    ignore-check.kube-linter.io/latest-tag: "only latest tag is published"
  name: weight-watcher
  namespace: weight-watcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weight-watcher
  template:
    metadata:
      labels:
        app: weight-watcher
    spec:
      containers:
      - env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              key: databaseUrl
              name: weightwatcher-postgres-weightwatcher-db-user
        - name: AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              key: authToken
              name: weight-watcher-secret
        image: docker.io/lsedlar/weight-watcher-rs:latest
        imagePullPolicy: Always
        name: weight-watcher
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          readOnlyRootFilesystem: true
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            memory: 128Mi
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
