---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: forgejo
  namespace: forgejo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forgejo
  template:
    metadata:
      labels:
        app: forgejo
    spec:
      containers:
        - name: forgejo
          image: codeberg.org/forgejo/forgejo:14-rootless
          ports:
            - containerPort: 3000
              name: http
            - containerPort: 2222
              name: ssh
          env:
            - name: USER_UID
              value: "1000"
            - name: USER_GID
              value: "1000"
            - name: FORGEJO__server__DOMAIN
              value: git.paas.lsedlar.cz
            - name: FORGEJO__server__SSH_DOMAIN
              value: git.paas.lsedlar.cz
            - name: FORGEJO__server__SSH_PORT
              value: "2222"
            - name: FORGEJO__server__ROOT_URL
              value: https://git.paas.lsedlar.cz/
            - name: FORGEJO__server__HTTP_PORT
              value: "3000"
            - name: FORGEJO__service__DISABLE_REGISTRATION
              value: "true"
            - name: FORGEJO__service__REQUIRE_SIGNIN_VIEW
              value: "true"
            - name: FORGEJO__cron_DOT_update_checker__ENABLED
              value: "false"
            - name: FORGEJO__openid__ENABLE_OPENID_SIGNIN
              value: "false"
            - name: FORGEJO__openid__ENABLE_OPENID_SIGNUP
              value: "false"
            - name: FORGEJO__security__INSTALL_LOCK
              value: "true"
            - name: FORGEJO__database__DB_TYPE
              value: postgres
            - name: FORGEJO__database__HOST
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_HOST
                  name: forgejo-postgres-forgejo-db-user
            - name: FORGEJO__database__PORT
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PORT
                  name: forgejo-postgres-forgejo-db-user
            - name: FORGEJO__database__NAME
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_DB
                  name: forgejo-postgres-forgejo-db-user
            - name: FORGEJO__database__USER
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_USER
                  name: forgejo-postgres-forgejo-db-user
            - name: FORGEJO__database__PASSWD
              valueFrom:
                secretKeyRef:
                  key: POSTGRES_PASSWORD
                  name: forgejo-postgres-forgejo-db-user
            - name: FORGEJO__mailer__ENABLED
              value: "true"
            - name: FORGEJO__mailer__PROTOCOL
              value: smtps
            - name: FORGEJO__mailer__SMTP_ADDR
              value: smtp.gmail.com
            - name: FORGEJO__mailer__SMTP_PORT
              value: "465"
            - name: FORGEJO__mailer__FROM
              valueFrom:
                secretKeyRef:
                  key: SMTP_USER
                  name: forgejo-secrets
            - name: FORGEJO__mailer__USER
              valueFrom:
                secretKeyRef:
                  key: SMTP_USER
                  name: forgejo-secrets
            - name: FORGEJO__mailer__PASSWD
              valueFrom:
                secretKeyRef:
                  key: SMTP_PASSWORD
                  name: forgejo-secrets
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /api/healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 3
          volumeMounts:
            - mountPath: /var/lib/gitea
              name: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: forgejo-data
