---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: default

  source:
    repoURL: registry-1.docker.io/bitnamicharts
    chart: kube-prometheus
    targetRevision: 8.9.1
    helm:
      values: |
        prometheus:
          retention: 365d
          retentionSize: 50GiB
          scrapeInterval: 30s

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
