---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-traefik
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 23.0.1
    helm:
      values: |
        ports:
          web:
            redirectTo: websecure

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
